@model dynamic

@{
    ViewBag.Title = "CcDeposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.js")
@Scripts.Render("~/Scripts/build/bundle.js")

<div id="reactContainer"/>

<button id="deposit">Deposit</button>

<script src="~/Scripts/hubs.js"></script>
<script type="text/javascript">
    $(function () {
        var accountNumber = 123;
        // Declare a proxy to reference the hub.
        var hub = $.connection.paymentsHub;
        hub.qs = "AccountNumber" + accountNumber;

        // Create a callback function that the hub can call to send response from bus consumer
        hub.client.onDepositResponse = function (response) {
            alert(response);
        };

        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#deposit').click(function () {
                // Call the deposit method on the hub.
                alert(hub.server.ccDeposit({ AccountNumber: accountNumber, CardId: 100, Amount: 250, Currency: "EUR" }));
            });
        });

        //TODO: no reconnects/etc...
    });
</script>